@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');





*{
    margin: 0;
    padding: 0;
    font-family: 'B612 Mono', monospace;
    scroll-behavior: smooth; /* fica mais leve rolando a pagina-*/

}



nav {
    width: 100%;
    background-color: #d30a40;
    position: fixed; /* fica com a posição fixa*/
    z-index: 99; /* fica acima de tudo*/
    justify-content: space-between;
     padding: 0 20px;
    
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

nav ul li  {
  padding: 1.8rem;

}
nav img{
    width: 3rem;
    
}

nav  h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
} 

nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


    

main{
    margin: 0 10rem 0 10rem; /* margens laterais*/


}



section#lista{ /* para chamar uma ID usa #CARDS*/
    flex-wrap: wrap;/* quebra a linha e deixar o proximo embaixo   */
    display: flex; /* cada item do lado do outro, se for adicionar o quarto item então manda para baixo*/
    justify-content: space-evenly; /* ESPAÇO ENTRE ELES*/
    margin-top: 2rem; /* para ficar mais distante do meu menu "header"*/
    
}

section#lista div.card{ /* para chamar ID usa (#) para chamar class usa(.)*/
    width: 20rem;
    box-shadow: inset 0 0 1em gold, 0 0 1em red; /* borda ao redor da imagem*/
    padding: 0.5rem;  /* para distanciar o testo da imagem*/

}



section#lista h2{   /*   */ 
    width: 100%;   /*   */
    text-align: center;/*   */
    margin: 3rem;

}


section#lista div.card img{/*   */
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}


section#lista div.card h3{
      margin-bottom: 1rem;    
      color: #d30a40;

}

section#lista div.card p.descricao{
    margin-bottom: 1rem;
}

/*botao editar*/
section#lista div.card a#editar{
    padding: 1rem;/*   */
    /*   */
    display: flex;/*   */
    justify-content: center;/* centralizar nome */
    margin: 0 auto;/*   */
    font-size: 1rem;
    background-color: rgb(137, 196, 235);
    border: solid 1px black;
    color:  black;
    cursor: pointer;/*   */
    transition: all .3s ease-in-out; /* trasição que fica a cor no botão*/ 
    text-align: center;
    text-decoration: none;/*   */
    margin-top: 2rem;
   border-radius: 3rem;
}
 /* botão apagar*/
section#lista div.card a#apagar{
    padding: 1rem;/*   */
    display: flex;/*   */
    justify-content: center;/* centralizar nome */
    margin: 0 auto;/*   */
    font-size: 1rem;
    background-color: rgb(133, 224, 28);
    border: solid 1px rgb(45, 6, 97);
    color:   #d30a40;
    cursor: pointer;/*   */
    transition: all .3s ease-in-out; /* trasição que fica a cor no botão*/ 
    text-align: center;
    text-decoration: none;/*   */
    margin-top: 2rem;
    border-radius: 2rem;
}


section#lista div.card a#editar:hover{
    background-color: yellow;
    color: red;
    border:  solid 2px blue;
}

section#lista div.card a#apagar:hover{
    background-color: rgb(20, 175, 236);
    color: rgb(248, 239, 239);
    border:  solid 2px blue;
}


/* cadastro*/
section#cadastro {
    display: flex;
    justify-content: center;

    padding: 5rem;
}
section#cadastro img.imagen {
    width: 50%;
    
}

section#cadastro h2{

     width: 100%;
     text-align: center;
     padding-bottom: 5rem;
     color: blue;
}

section#cadastro  form {
     width: 100%;
}

section#cadastro  form input{
    width: 100%;
    padding: .6rem;
    font-size: 1rem;
    outline: none;
    border: solid 2px green;
    margin: 0 1rem 1rem 1rem;
    border-radius: 0 3rem 0 3rem;
    text-align: margin 3rem;
}

section#cadastro form label{
    
    margin: 1rem;
    color: red;
}

section#cadastro  form button{
    
    padding: 1rem 4rem 1rem 4rem;
    width: 29%;
    display: flex;
    justify-content: center;/* centralizar nome */
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(137, 196, 235);
    border: solid 1px  red;
    color: red;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 3rem 0 3rem 0 ;
    

}
section#cadastro  form button:hover{
    background-color: yellow;
    color: black;
}


footer{
    background-color: #d30a40;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
}
footer p {
    width: 100%;
    color: yellow;
    text-align: center;
    padding: .2rem;
}

footer  p a{
    text-decoration: none;
    color: blue;
    font-size: 1.2rem;
}


/* mensagem*/
section#mensagem{
    margin-top: .5rem;
    padding: .5rem;
    background-color: rgb(30, 241, 30);
    color: blue;
    position: fixed;
    top: 7rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;


}
span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(7, 110, 38);
    transform: scale(1.5);
  }
 @media screen and ( max-width: 550px){
     section, aside {
        width: 100%;
     }
 }
  
@media screen and ( max-width: 550px){
    nav ul li {
        float: none;
        text-align: center;
        width: 100%;
    }
}